{% extends 'base.html' %}


{% block content %}
    <div style="display: flex; height: 50px; width: 100%; justify-content: center;">    
        <button> <a href="{% url 'create_ticket' %}">Demander une critique</a></button>
        <span style="width: 30px;"></span>
        <button><a href="{% url 'create_ticket_and_review' %}" >Créer une critique</a></button>
    </div>
    {% for post in posts %}
    <hr><hr>
    <div style="border: 5px solid black ; padding: 5px;">      
    {% if post.content_type == "TICKET" %}
            {% include "partials/_ticket_snippet.html" with ticket=post %}
        {% if not post.user_has_reviewed %}
        <a href="{% url 'create_review' post.id %}" class="button">Ajouter une critique</a>
        {% endif %}
    {% endif %}
    {% if post.content_type == "REVIEW" %}
        {% include "partials/_review_snippet.html" with review=post %}
    {% endif %} 
    </div>
  
    {% endfor %}
  {% endblock %}


