{% load static %}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}LITReview{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block meta_description %}Une application de critiques de livres et d'articles.{% endblock %}">
    <link rel="stylesheet" href="{% static 'styles/global.css' %}">
    <link rel="stylesheet" href="{% static 'tickets/tickets.css' %}">

</head>

<body>
    <header role="banner">
        {% if request.user.is_authenticated %}
            {% include 'partials/_navbar.html' %}
        {% else %}
            <h1 class="site-title" style="text-align:center">LITReview</h1>
        {% endif %}
    </header>



    <main id="main-content" role="main">
        {% block content %}{% endblock %}
    </main>

</body>
</html>
