
{% extends 'base.html' %}
{% load static %}
{% block content %}

<h2 style="text-align: center;">{{title}}</h2>

<div style="display: flex; justify-content: center;"> 
<form method="post" enctype="multipart/form-data" style=" width: 40%;">
    {% csrf_token %}

    <div class="form_group">
        <label for="{{ form.title.id_for_label }}" class="label_class">Titre</label>
        {{ form.title }}
      </div>
    
      <div class="form_group">
        <label for="{{ form.description.id_for_label }}" class="label_class">Description</label>
        {{ form.description }}
      </div>

    <div class="form_group">
        <label for="{{ form.image.id_for_label }}">Image</label>
        {{ form.image }}
    </div>

    <button type="submit" style=" position: absolute; ;margin: auto;">{{submit_label}}</button>
</form>
</div>

{% endblock %}



