{% block content %}
<div class="ticket-card {% if inside_review %}ticket-inside-review{% endif %}">
    <div class="ticket-header" style="background-color: aliceblue;">
       {% if not inside_review%} 
      <h3 class="ticket-title">{{ ticket.title }}</h3>
      {% endif %}
      {% if ticket %}

        <p> <strong>{{ ticket.user }}</strong> : {{ticket.title}} {% if not inside_review %} a demandé une critique{% endif %}
        publié le {{ ticket.time_created|date:"d/m/Y H:i" }}</p>

      {% endif %}

      {% if ticket.description and not inside_review %}
       description : <p>{{ ticket.description }} </p>
      {% endif %}
    </div>

    {% if ticket.image %}
    <div class="ticket-image" style="width: 30%; max-height: 300px; overflow: hidden;">
      <img src="{{ ticket.image.url }}" alt="Image du billet : {{ ticket.title }}" 
           style="width: 100%; height: 100%; object-fit: cover; object-position: center;">
    </div>
  {% endif %}

  <!-- {% if ticket.user == request.user %}
      <a href="{% url 'delete_ticket' ticket.id %}" class="button delete">Supprimer ce billet</a>s
  {% endif %} -->

    </div>
  {% endblock %}
